.app {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: calc(100vh - 72px);
  background: var(--color-background);
}

.main {
  flex: 1;
  min-width: 0;
  padding: var(--spacing-xl);
}
