.App-header {
  background-color: var(--color-background-primary);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: var(--color-text-primary);
  font-size: 1rem;
}
